@font-face {
    src: url('Baby Monsta.otf');
    font-family: BabyMonsta;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
img {
    position: center;
    margin-top: -10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 25%;
    width: 25%;
    margin-bottom: 30px;
    animation-name: hy;
    animation-name: fadeInAnimation;
    animation-duration: 4s;
}

@keyframes hy {
    0% {
        top: 30px;
    }
    100% {
        top: 0px;
    }
}
@keyframes fadeInAnimation {
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@media only screen and ( max-width: 720px) {
    h1 {
        color: white;
        font-family: 'BabyMonsta';
        text-align: center;
        font-size: 18px;
        border-width: thick
    }
}
@media only screen and ( min-width: 730px) {
    h1 {
        color: white;
        font-family: 'BabyMonsta';
        text-align: center;
        font-size: 650%;
        border-width: thick
    }
}
