@font-face {
    src: url('Baby Monsta.otf');
    font-family: BabyMonsta;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

img {
    position: relative;
    margin-top: -10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    width: 50%;
    margin-bottom: -20px;
    animation-name: hy;
    animation-duration: 3s;
}

@keyframes hy {
    0% {
        top: 30px;
    }
    100% {
        top: 0px;
    }
}

@media only screen and ( max-width: 720px) {
    h1 {
        color: white;
        font-family: 'BabyMonsta';
        text-align: center;
        font-size: 20px;
        border-width: thick
    }
}

@media only screen and ( min-width: 730px) {
    h1 {
        color: white;
        font-family: 'BabyMonsta';
        text-align: center;
        font-size: 700%;
        border-width: thick
    }
}
